<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/main.css}" />
<title>Regisztráció</title>
</head>
<body>
	<div class="menu-main" th:insert="fragments/header.html :: header"> </div>
	<form th:action="@{/register}" th:object="${user}" method="post">
		<div>
			<label>felhasználónév</label>
			<input type="text" name="username" th:field="*{username}" >
		</div>
		<div>
			<label>Teljes név</label>
			<input type="text"  name="fullName" th:field="*{fullName}" >
		</div>
		<div>
			<label>email cím</label>
			<input type="email" name="email" th:field="*{email}">
		</div>
		<div>
			<label>telefonszám</label>
			<input type="number" name="phone" th:field="*{phone}">
		</div>
		<div>
			<label>szerepkör(SZÜLŐ/DIÁK)</label>
			<input name="roleType" th:field="*{roleType}">
		</div>
		<div>
			<label>Tanuló</label>
			<input name="student" th:field="*{student}">
		</div>
		<button type="submit" >submit</button>

	</form>
	<div sec:authentication="principal.authorities"></div>
		<form th:action="@{/logout}" method="post">
			<input class="button" type="submit" value="Kijelentkezés" />
		</form>
		<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
<span th:text="${#authentication.getPrincipal().authorities}"></span>

</body>
</html>
